/* default value */

/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
:root {
	--header-height: 3rem;

	/* Colors */

	--almost-white: hsl(0, 0%, 98%);
	--medium-gray: hsl(0, 0%, 41%);
	--almost-black: hsl(0, 0%, 8%);
	--body-color: var(--almost-white);

	/* Font family */
	--font-family: "Epilogue", sans-serif;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
	--normal-font-size: 18px;

	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

body {
	font-family: var(--font-family);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
}

a,
a:visited {
	text-decoration: none;
	color: var(--almost-black);
}

/*==================== LAYOUT ====================*/
.container {
	max-width: 1440px;
}
.grid {
	display: grid;
	gap: 1.5rem;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.items-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

/*==================== REUSABLE CSS CLASSES ====================*/

.section {
	padding: 6rem 2rem 4rem;
}

.devider-x {
	background-color: rgb(235, 230, 230);
	width: 100%;
	height: 1px;
}

/* Header */
.header {
	background-color: var(--body-color);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: var(--z-fixed);
	box-sizing: border-box;
	padding: 0 1.5rem;
	box-shadow: 0 3px 10px gray;
}

.nav {
	max-width: 1440px;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0 2rem;
	box-sizing: border-box;
	gap: 1rem;
}

.nav_logo {
}

/* Collapse Navbar */
@media screen and (max-width: 767px) {
	.navbar_collapse {
		position: fixed;
		height: 100vh;
		max-height: 100vh;
		width: 65%;
		background-color: var(--almost-white);
		top: 0;
		right: 0;
		transition: 0.3s;
		overflow-x: hidden;
		overflow-y: auto;
		transform: translate(100%, 0px);
		-webkit-transform: translate(100%, 0px);
		-ms-transform: translate(100%, 0px);
		padding: 6rem 1.5rem;
		box-sizing: border-box;
		z-index: 109;
	}
}
.navbar_collapse.active {
	transition: all 0.3s ease-in-out;
	transform: translate(0%, 0px);
	-webkit-transform: translate(0%, 0px);
	-ms-transform: translate(0%, 0px);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
	display: block;
	z-index: 104;
}

.navbar_nav {
	position: relative;
}

.nav_collapse_close {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
}

.overlay {
	width: 100vw;
	height: 100vh;
	display: none;
	background-color: rgba(24, 23, 23, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
	animation: fade 5s;
	-webkit-animation: fade 500ms;
	-moz-animation: fade 500ms;
	-o-animation: fade 500ms;
}

.overlay.active {
	display: block;
}

.nav_link {
	display: flex;
	background-color: bisque;
	flex-direction: row;
	align-items: center;
}

.dropdown_toggle {
	background-image: url("../images/icon-arrow-down.svg");
	background-repeat: no-repeat;
	background-size: 12px 7px;
	background-position: 50%;
	width: 12px;
	height: 7px;
	margin-left: 10px;
	display: inline;
}

.nav_link:hover .dropdown_toggle {
	transform: rotate(180deg);
	display: inline-block;
	-webkit-transform: rotate(180deg);
}

.dropdown_menu {
	padding: 1em 1rem;
}

.dropdown_menu a {
	display: block;
	background-color: #f0f;
	padding: 0.5rem 1rem;
	margin: 0.2rem;
}

.navbar_btns {
	flex-direction: column;
	margin-top: 2rem;
	/* align-items: center; */
}

.btn {
	margin: 0.2rem;
	min-width: 5rem;
	padding: 0.5rem 1rem;
	flex: 1;
	border: none;
}

.testing {
	height: 200vh;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
